@import "_mixins.scss";
@import "_global.scss";

body {
	::selection {
		background: #fad6ab; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
		background: #fad6ab; /* Gecko Browsers */
	}


	// Introduction Section
	.home-content-outer {
		h1.heading {
			font-size: 40px;
		    color: #ffffff;
		    font-weight: 400;
		}
	}

}