@import "_mixins.scss";
@import "_global.scss";

body {
	::selection {
		background: #fad6ab; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
		background: #fad6ab; /* Gecko Browsers */
	}


	// Introduction Section
	.home-content-outer {
		h1.heading {
			font-size: 40px;
		    color: #ffffff;
		    font-weight: 400;
		}
		.list-view {
			ul.nav {
				li {
					a {
						color:#ffffff;
						font-size:18px;
						letter-spacing:3px;
						text-transform:uppercase;
						font-weight:300;
					}
				}
			}	
		}
	}

}