.transition {
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  -ms-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: 0px;
    outline-offset: 0px;
    text-decoration: none; }
  a:active {
    text-decoration: none; }

p {
  margin-bottom: 0px; }

button {
  cursor: pointer; }
  button:hover {
    cursor: pointer; }

img.alignleft {
  float: left;
  padding: 15px;
  margin: 15px; }

img.alignright {
  float: right;
  padding: 15px;
  margin: 15px; }

img.aligncenter {
  display: block;
  padding: 15px;
  margin: 15px auto; }

img.alignnone {
  display: block;
  padding: 15px;
  margin: 15px; }

.screen-reader-text {
  display: none; }

body {
  font-family: 'Raleway', sans-serif !important; }
  body ::selection {
    background: #cab3ff;
    /* WebKit/Blink Browsers */ }
  body ::-moz-selection {
    background: #cab3ff;
    /* Gecko Browsers */ }
  body p {
    color: #e0e0e0 !important; }
  body .g-recaptcha {
    margin: 15px auto !important;
    width: auto !important;
    height: auto !important;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    text-align: -ms-center; }
  body .wpcf7-response-output {
    font-size: 14px !important;
    margin: 0px !important;
    color: #ffffff !important; }
  body #contact .section-header {
    margin-bottom: 50px; }
  body #contact .custom-contact-form input, body #contact .custom-contact-form textarea, body #contact .custom-contact-form label {
    display: block;
    width: 100%;
    padding: 5px; }
  body #contact .custom-contact-form label {
    letter-spacing: 1px;
    padding: 0px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300; }
  body #contact .custom-contact-form input, body #contact .custom-contact-form textarea {
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px; }
  body #contact .custom-contact-form input[type=submit] {
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: 300; }
  body .testimonial-section .testimonial-wrapper .item blockquote {
    color: #e0e0e0 !important; }
  body .home-content-outer h1.heading {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400; }
  body .home-content-outer .list-view {
    display: none; }
    @media (min-width: 768px) {
      body .home-content-outer .list-view {
        display: block; } }
    body .home-content-outer .list-view ul.nav li a {
      color: #ffffff;
      font-size: 18px;
      letter-spacing: 0px;
      text-transform: uppercase;
      font-weight: 300; }
      @media (min-width: 1200px) {
        body .home-content-outer .list-view ul.nav li a {
          letter-spacing: 3px; } }
  body .services-content-outer .pera-outer p {
    font-size: 16px !important;
    color: #d6d6d6 !important;
    font-weight: 300 !important; }
  body .each-services i {
    color: #2fe9e5;
    font-size: 32px;
    line-height: 32px; }
  body .each-services .each-services-inner h4 {
    line-height: 40px; }
    @media (min-width: 992px) {
      body .each-services .each-services-inner h4 {
        line-height: 65px; } }
  body .each-services .each-services-inner p {
    font-size: 16px;
    font-weight: 300;
    color: #d2d1d1; }
  body .each-services .each-services-inner .btn {
    color: #cab3ff; }
  body .inner .view-all-link-mask-text {
    color: #2fe9e5 !important; }
  body .each-portfolio-heading p.sub-heading {
    color: #9173d6 !important; }
  body .each-portfolio-heading .inner {
    color: #2fe9e5 !important; }
  body .project-detail p {
    color: #dcdcdc;
    font-size: 16px;
    font-weight: 300; }
    body .project-detail p.sub-heading {
      color: #2fe9e5; }
  body .project-detail a {
    font-size: 15px;
    transition: all 0.5s ease !important;
    color: #cab3ff;
    font-weight: 600; }
    body .project-detail a:hover {
      color: #2fe9e5; }
  body .project-detail .heading {
    color: #cab3ff !important;
    line-height: 42px;
    padding-bottom: 15px; }
  body #team-section #sub-heading {
    display: block;
    font-size: 12px;
    text-transfrom: uppercase;
    font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=custom.css.map */
